APP_NAME='Ticket Booking System'
PORT=5500
APP_URL='http://localhost'

MONGOURL=mongodb+srv://sinjanc08:%24%21nJ%40N_02%213%23@sinjan.sdlyujm.mongodb.net/movie_ticket_booking?retryWrites=true&w=majority&appName=Sinjan
JWT_SECRET=37158632f497bc5b0fcceeeb221f8c2c94884bfece75e366fd2e16cb71e2ff57b4b06055937bebbc2f9e1e4ae8043a417d58f83c1630c519848742a1fe801b15

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=sinjan.developer@gmail.com
MAIL_PASS=lnqd fmle vdxj ffjt